.button-container {
	text-align: center;
}

.button,
.action,
.sws .action {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inherit;
	font-size: initial;
	font-weight: 500;
	line-height: initial;
    padding: 12px 30px 11px;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    transition: all 0.1s ease-out;
}

.button.primary {
	background: $primary;
	color: $white;
}

.button.secondary,
.action,
.sws .action {
	background: $secondary;
	color: $darkGrey;
}

.button:hover,
.action:hover,
.sws .action:hover {
	text-decoration: none;
	box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.button:active,
.action:active,
.sws .action:active,
.sws .action:focus {
	text-decoration: none;
	box-shadow: 0 0 0 rgba(0,0,0,0.25);
}

.button:focus,
.action:focus {
	text-decoration: none;
}