.button-container {
	text-align: center;
}

.button,
.action {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
    padding: 12px 40px 11px;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.button.primary {
	background: $primary;
	color: $white;
}

.button.secondary,
.action {
	background: $secondary;
	color: $darkGrey;
}

.button:hover,
.action:hover {
	box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.button:active,
.action:active,
.button:focus,
.action:focus {
	box-shadow: 0 0 0 rgba(0,0,0,0.25);
}