.main-content {
	padding: 15px 0;
}

.section {
	padding: 20px 0;

	@media (min-width: $screen-sm) {
		padding: 40px 0;
	}
}

.section-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;

	/* @media (min-width: $screen-sm) {
		margin-bottom: 25px;
	} */
}

.section-intro {
	font-size: 20px;
	text-align: center;
	margin: 0 auto 30px auto;
	max-width: 700px;
}

@media (min-width: $screen-sm) {
	.section-content {
		column-count: 2;
		column-gap: 30px;
	}
}

/* .is-table-row {
    display: table;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
} */