img {
	max-width: 100%;
	height: auto;
}

a {
	color: $primary;
	transition: all 0.1s ease-out;

	&:hover {
		color: $darkPrimary;
	}
}

p {
	margin: 0 0 25px;
}

.hidden {
	display: none;
}

.main-content {
	padding: 70px 0 80px 0;

	@media (min-width: $screen-sm) {
		padding: 70px 0 100px 0;
	}
}

.home {
	.main-content {
		padding-bottom: 0;
	}
}

.section {
	padding: 45px 0 60px;

	@media (min-width: $screen-sm) {
		padding: 60px 0 75px;
	}

	&.bg {
		background-color: $lightPrimary;
	}
}

.section-title {
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 17px;

	@media (min-width: $screen-sm) {
		margin-bottom: 5px;
	}
}

.section-intro {
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	text-align: center;
	margin: 0 auto 32px auto;
	max-width: 700px;

	@media (min-width: $screen-sm) {
		margin: 0 auto 58px auto;
	}
}

.section-content {
	@media (min-width: $screen-sm) {
		column-count: 2;
		column-gap: 30px;
	}
}

.page-title,
.cart > h2,
.checkout > h2 {
	margin: 30px 0 20px 0;

	@media (min-width: $screen-sm) {
		margin: 70px 0 30px 0;
	}
}

.page-intro {
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 25px;
}


// Daffodil Day banner

.section.daffodil {
	background-color: #236bb2;
    position: relative;
    padding: 20px 0 20px 0;

    @media (min-width: $screen-sm) {
		padding: 30px 0 30px 0;
	}

	@media (min-width: $screen-md) {
		padding: 45px 0 45px 0;
	}

    img {
	    display: inline-block;
        width: 15%;
	    vertical-align: middle;

    	@media (min-width: $screen-sm) {
    		position: absolute;
		    top: -35px;
		    left: auto;
		    bottom: auto;
		    margin-left: 0;
   			width: 130px;
		}

		@media (min-width: $screen-md) {
			top: -53px;
   			width: 200px;
		}
    }

	h1 {
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 24px;
	    display: inline-block;
	    width: 78%;
	    margin: 0 0 0 5%;
	    text-align: left;
	    vertical-align: middle;

		@media (min-width: $screen-sm) {
			text-align: center;
			display: block;
			width: auto;
		}

		@media (min-width: $screen-md) {
			font-size: 32px;
		}

		@media (min-width: $screen-lg) {
			letter-spacing: 2px;
			font-size: 41px
		}

		span {
			color: #fbb040;
		}
	}
}


// What is daffodil day?
.section.what {
	text-align: center;

	@media (min-width: $screen-sm) {
		text-align: left;
	}

	p:last-child {
		margin-bottom: 0;
	}
}


// How we make a difference
.section.how {
	@media (min-width: $screen-md) {
		padding-bottom: 40px;
	}

	.donations {
		list-style: none;
	    padding: 0;
    	margin-bottom: 0;

    	li:last-child .donation {
    		margin-bottom: 0;
    	}

    	a {
    		color: initial;

    		&:hover,
    		&:focus {
    			text-decoration: none;

    			.donation .donation-value {
    				color: $primary;
    			}

    			.donation .donation-value .donation-circle {
    				background-color: $secondary;
    			}
    		}
    	}

		.donation {
			text-align: center;
			background-color: $white;
			border-top: 5px solid $darkPrimary;
			border-bottom: 2px solid $secondary;
			margin-bottom: 30px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16);

			.donation-value {
				transition: all 0.05s ease-out;
				color: $white;
				font-size: 96px;
				font-weight: bold;
				letter-spacing: -4px;
			    margin: 20px 20% 0 20%;

			    @media (min-width: $screen-sm) {
					margin: 20px 10px 0 10px;
				}

				@media (min-width: $screen-lg) {
					margin: 20px 20px 0 20px;
				}

			    .donation-circle {
			    	transition: all 0.1s ease-out;
			    	background-color: $primary;
		    	    border-radius: 50%;
					padding: 50% 0;
					background-color: #0a4e9b;
					height: 0;
					line-height: 10px;
			    }

				span {
					font-size: 24px;
					position: relative;
					top: -48px;
					left: -7px;
				}
			}

			.donation-description {
				padding: 20px 13px;
				
				@media (min-width: $screen-sm) {
					min-height: 160px;
				}

				@media (min-width: $screen-lg) {
					min-height: 136px;
				}
			}
		}
	}
}


// Get involved
.section.involved {
	padding-bottom: 25px;

	.resp-tabs-list {
		margin-bottom: 40px;

		li {
			border: none;
			background-color: $white !important;
			text-align: center;
			margin: 0;

			&.resp-tab-active {
				.opportunity {
					background-color: $primary !important;
					box-shadow: none;
					color: $white;

					.opportunity-icon {
						color: $secondary;
					}

					&:hover {
						box-shadow: 0 0 0 rgba(0,0,0,0.25);
					}
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				.opportunity  {
					padding-top: 28px;

					.opportunity-icon {
						font-size:72px;
					}
				}
			}

			&:nth-child(4) {
				.opportunity  {
					
					.opportunity-icon {
						margin: 10px 0 0;
					}
				}
			}

			.opportunity {
				border: 1px solid $lightGrey;
				padding: 20px 0;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16);
			    transition: all 0.1s ease-out;

				.opportunity-icon {
					font-size: 80px;
					color: $primary;
					margin-bottom: 10px;
				}

				.opportunity-title {
					font-size: 20px;
				}

				&:hover {
					box-shadow: 0 6px 12px rgba(0,0,0,0.25);
				}

				&:focus,
				&:active {
					box-shadow: 0 0 0 rgba(0,0,0,0.25);
				}
			}
		}
	}

	.resp-tabs-container {
		text-align: center;

		.resp-tab-content {
			border: none;
			background-color: $lightPrimary;
			position: relative;
			padding: 30px 20px;

			@media (min-width: $screen-sm) {
				padding: 40px 40px 30px 40px;
			}

			h4 {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}

		@media (min-width: $screen-sm) {
			.resp-tab-content-active:after {
				bottom: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-bottom-color: $lightPrimary;
				border-width: 20px;
				margin-left: -20px;
			}

			.resp-tab-content-active:nth-child(2):after {
				left: 9%;
			}

			.resp-tab-content-active:nth-child(4):after {
				left: 29%;
			}

			.resp-tab-content-active:nth-child(6):after {
				left: 50%;
			}

			.resp-tab-content-active:nth-child(8):after {
				left: 71%;
			}

			.resp-tab-content-active:nth-child(10):after {
				left: 91%;
			}
		}
	}

	.resp-accordion {
		font-size: 22px;
		font-weight: 400;
		background-color: $white !important;
		border: 1px solid $lightGrey;
		margin-bottom: -1px;
		padding: 20px 15px !important;

		.opportunity-title {
			display: inline-block;
			margin-left: 10px;
		}

		.resp-arrow {
			margin-top: 6px;
		}
	}

	.resp-tab-active {
		background-color: $primary !important;
		color: $white;

		.resp-arrow {
			border-bottom-color: $white;
		}
	}

	hr {
		max-width: 700px;
		border-color: $lightGrey;
		margin-top: 80px;
		margin-bottom: 0
	}
}


// Merchandise
.section.merchandise {
	
}


// Media
.section.media {
	h4 {
		margin-top: 0;
		font-size: 18px;
		font-weight: normal;
	}

	.media-videos,
	.media-photos,
	.media-photos-thumbnails,
	.media-radios,
	.media-releases,
	.media-links {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
	}

	.media-container {
		padding: 20px;
		margin-bottom: 30px;

		&.primary {
			background-color: $lightPrimary;
		}

		&.secondary {
			background-color: $lightSecondary;
		}

		li {
			margin: 7px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.media-video {
		margin-bottom: 35px;

		.video-container {
			position: relative;
			padding-bottom: 51.75%;
			padding-top: 25px;
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.video-description {
			margin-top: 5px;
		}
	}

	.media-photo-caption {
	    margin-top: -34px;
	    background: #FFC107;
	    padding: 5px 10px;
	    position: relative;
	}

	.media-photos-thumbnails {
		display: none;
		cursor: pointer;
		position: relative;
		margin-top: 15px;

		@media (min-width: $screen-sm) {
			display: block;
		}

		.media-photo-thumbnail:hover {
			opacity: 0.8;
		}
	}

	.media-photos,
	.media-photos-thumbnails {
		.slick-arrow {
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    z-index: 99;
		    border: 1px solid #ddd;
		    background: #fff;
		    font-family: 'FontAwesome';
		}

		.slick-prev {
			left: 0;
			padding: 2px 13px 2px 11px;
		}

		.slick-next {
			right: 0;
			padding: 2px 11px 2px 13px;
		}
	}

	.media-photos .slick-arrow {
		@media (min-width: $screen-sm) {
			display: none !important;
		}
	}
}


// Social
.section.social {
	.modern.light .stream li {
		border-top: 5px solid $darkPrimary;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);

		&.dcsns-twitter a {
			color: $primary;

			&:hover {
				color: $darkPrimary;
			}
		}

		.section-thumb {
			margin-bottom: 25px;

			a {
				display: block;

				img {
					float: none;
					margin-bottom: 0;
				}
			}
			
		}

		.section-text {
			font-size: initial;
			line-height: 24px;

			.twitter-user a:hover strong {
				color: $secondary !important;
			}
		}

		.section-share {
			text-align: center;
			float: none;
			margin-bottom: 25px;

			a {
				display: inline-block;
				float: none;
			}
		}

		.socicon {
			left: 20px;
			bottom: 30px;
			color: $white;
		}

		.section-intro {
			background: $primary !important;
			margin-bottom: 0;
			padding: 15px 20px 15px 65px;
			text-align: left;
			line-height: initial;
			max-width: none;

			a,
			span {
				color: $white;
				padding: 0;
			}

			.link-user {
				font-size: 14px;
				margin-bottom: 7px;
			}

			span {
				font-size: 12px;
			}
		}
	}
}