@media (min-width: $screen-sm) {
	.col-sm-2-4 {
	    width: 20%;
        position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
}

@media (min-width: $screen-sm) {
	.col-sm-offset-1-5 {
	    margin-left: 12.5%;
	}
}

@media (min-width: $screen-md) {
	.col-md-offset-1-5 {
	    margin-left: 12.5%;
	}
}

