.desktop-menu {
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.mobile-menu {
	text-align: right;

	@media (min-width: $screen-lg-min) {
		display: none;
	}
}

.main-nav {
	background: $primary;

    @media (min-width: $screen-sm-min) {
		position: fixed;
	    width: 100%;
	    z-index: 9999;
	}

	ul {
		margin: 0;
		padding: 0;
		text-align: right;

		li {
			display: inline-block;

			.button {
				padding-top: 10px;
    			padding-bottom: 9px;

    			&:hover {
    				color: initial;
    			}
			}
		}
	}

	a {
		color: $white;
		font-size: 13px;
		font-weight: 500;
		display: block;
		padding: 24px 10px 21px 10px;
		text-transform: uppercase;

		&:hover {
			color: $white;
			text-decoration: none;
		}

		&.active {
			border-bottom: 2px solid $white;
		}
	}

	.logo {
		a {
			padding: 4px 0;
		}
	}
}

#menu-button {
	display: inline-block;
}

.overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $primary;
	z-index: 99999;

	ul {
		text-align: center;
		position: relative;
		top: 10vh;
		height: 100%;
		list-style: none;
  		margin: 0 auto;

  		li {
  			display: block;

  			a {
			  text-decoration: none;
			  font-size: 20px;
			  padding: 15px 0;
			}
		}
	}

	.overlay-close {
		position: absolute;
		height: auto;
		right: 15px;
		top: 0; 
		text-decoration: none;
		text-transform: uppercase;
	}
}

.overlay-data {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.overlay-open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.5s;
	transition: all 0.5s; 
}